---
layout: home
title: COINS Design System
description: Efficient design and development of a great and consistent experience.
---
<section class="doc-thumbnails">
  {% assign no_show_cat = "News" %}
  {% for category in site.categories %}
    {% unless no_show_cat contains category[0] %}
      {% for post in category[1] limit:1 %}
        <a class="doc-card  {{ category[0] | replace: ' ', '-' | downcase }}" href="{{ site.baseurl }}{{ post.url }}">
          <div class="doc-card-image"></div>
          <div class="doc-card-title">
            {{ category[0] }}
          </div>
        </a>
      {% endfor %}
    {% endunless %}
  {% endfor %}
</section>

<section class="news">
  <h4 class="news-title">Latest Updates</h4>
  <div class="news-latest">
    {% for post in site.categories['News'] limit:3 %}
      <a class="news-post" href="{{ site.baseurl }}{{ post.url }}">
        <span class="news-post-indicator {{post.colorcoding}}"></span>
        <span class="news-post-date">{{ post.date | date: "%b %d, %Y" }}</span>
        <span class="news-post-title">{{ post.title }}</span>
        <span class="news-post-receipt">{{ post.content | strip_html | strip_newlines}}</span>
      </a>
    {% endfor %}
  </div>
</section>
