<aside class="sidebar">
  {% assign filterCategory = page.categories %}
  <a href="{{ site.baseurl }}/" class="back-button">{{filterCategory.first}}</a>

  {% for tag in site.tags %}
    {% assign postsInCategory = "" | split: "/" %}
    {% for post in tag[1] %}
      {% if post.categories contains filterCategory.first %add it to postsInCategory array{% endcomment %}
        {% assign postsInCategory = postsInCategory | push: post %}
      {% endif %}
    {% endfor %}

    {% if postsInCategory.size > 0 %}
      <section class="sidebar-section padded-bottom">
        <div class="sidebar-section-title">
          <span>{{ tag[0] }}</span>
        </div>
        <ul class="sidebar-menu-items">
          {% for post in postsInCategory reversed %}
            {% if page.url == post.url %}
              <li>
                <a class="active" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </li>
            {% else %}
              <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}
</aside>