<aside class="sidebar">
  <div class="sidebar-section-title">
    <span>Section Title</span>
  </div>
  <section class="sidebar-section no-border">
    <ul class="sidebar-menu-items">
      <li>
        <a href="#">
          Section 1
        </a>
      </li>
      <li>
        <a href="#">
          Section 2
        </a>
      </li>
      <li>
        <a class="active" href="#">
          Buttons
        </a>
      </li>
      <li>
        <a href="#">
          Section 4
        </a>
      </li>
      <li>
        <a href="#">
          Section 5
        </a>
      </li>
      <li>
        <a href="#">
          Section 6
        </a>
      </li>
    </ul>
  </section>
</aside>