$icoins-font-family: "iCoins" !default;
$icoins-font-path: "../fonts" !default;


$icn-Add-Package: "\e900";
$icn-Add-Worker: "\e901";
$icn-Airplane: "\e902";
$icn-Approve: "\e903";
$icn-Arrow-Down: "\e904";
$icn-Arrow-Left: "\e905";
$icn-Arrow-Right: "\e906";
$icn-Arrow-Up: "\e907";
$icn-Attachment: "\e908";
$icn-Basket: "\e909";
$icn-Bed: "\e90a";
$icn-Bell: "\e90b";
$icn-Blank: "\e90c";
$icn-Blocks: "\e90d";
$icn-Calendar-Day: "\e90e";
$icn-Calendar-Month: "\e90f";
$icn-Calendar-Week: "\e910";
$icn-Calendar-Workdays: "\e911";
$icn-Calendar: "\e912";
$icn-Car: "\e913";
$icn-Cards: "\e914";
$icn-Caret-Down: "\e915";
$icn-Caret-Up: "\e916";
$icn-Check: "\e917";
$icn-Checklist-cogs: "\e918";
$icn-Checklist-fail: "\e919";
$icn-Checklist-start: "\e91a";
$icn-Checklist-Time-alt: "\e91b";
$icn-Checklist-Time: "\e91c";
$icn-Checklist: "\e91d";
$icn-Chevron-Down: "\e91e";
$icn-Chevron-Left: "\e91f";
$icn-Chevron-Right: "\e920";
$icn-Chevron-Up: "\e921";
$icn-Clock-In: "\e922";
$icn-Clock-Out: "\e923";
$icn-Close: "\e924";
$icn-Cogs: "\e925";
$icn-Coins: "\e926";
$icn-Comments: "\e927";
$icn-Company: "\e928";
$icn-Compare: "\e929";
$icn-Complete: "\e92a";
$icn-Contract: "\e92b";
$icn-Corner-arrow: "\e92c";
$icn-Crane: "\e92d";
$icn-Credit-card: "\e92e";
$icn-Dashboard: "\e92f";
$icn-Delete: "\e930";
$icn-Delivery: "\e931";
$icn-Divide: "\e932";
$icn-Double-arrows-down: "\e933";
$icn-Download: "\e934";
$icn-Drag-indicator: "\e935";
$icn-Drawings: "\e936";
$icn-Edit: "\e937";
$icn-Email: "\e938";
$icn-Employee-list: "\e939";
$icn-Equal: "\e93a";
$icn-Excel: "\e93b";
$icn-Expand: "\e93c";
$icn-External-Link: "\e93d";
$icn-Eye: "\e93e";
$icn-Favourites: "\e93f";
$icn-Filter-sliders: "\e940";
$icn-Filter: "\e941";
$icn-Floppy: "\e942";
$icn-Folder-Open: "\e943";
$icn-Folder: "\e944";
$icn-Food: "\e945";
$icn-Fuel: "\e946";
$icn-Grid: "\e947";
$icn-Helmet: "\e948";
$icn-Histroy: "\e949";
$icn-Home: "\e94a";
$icn-Image: "\e94b";
$icn-Important-1: "\e94c";
$icn-Important: "\e94d";
$icn-Info: "\e94e";
$icn-Linked: "\e94f";
$icn-List: "\e950";
$icn-Lock: "\e951";
$icn-LogOut: "\e952";
$icn-Map-Pin: "\e953";
$icn-Meal: "\e954";
$icn-Menu-Burger: "\e955";
$icn-Mic: "\e956";
$icn-More-Horizontal: "\e957";
$icn-More-Vertical: "\e958";
$icn-Multiply: "\e959";
$icn-No-Connection: "\e95a";
$icn-Notes: "\e95b";
$icn-Open: "\e95c";
$icn-Package-Confirmed: "\e95d";
$icn-Package: "\e95e";
$icn-Parking: "\e95f";
$icn-PDF: "\e960";
$icn-Phone-Mobile: "\e961";
$icn-Phone-Old: "\e962";
$icn-Phone: "\e963";
$icn-Photo-camera-crossed: "\e964";
$icn-Photo-camera: "\e965";
$icn-Photo-Switch: "\e966";
$icn-Pinned: "\e967";
$icn-Plus: "\e968";
$icn-Quantity: "\e969";
$icn-Refresh: "\e96a";
$icn-Reject: "\e96b";
$icn-Search-Check: "\e96c";
$icn-Search-Important: "\e96d";
$icn-Search: "\e96e";
$icn-Sell-house-pounds: "\e96f";
$icn-Sell-house: "\e970";
$icn-Send: "\e971";
$icn-Server-Issue: "\e972";
$icn-Settings: "\e973";
$icn-Shapes: "\e974";
$icn-Share: "\e975";
$icn-Shop: "\e976";
$icn-Shopping-Cart: "\e977";
$icn-Site-alt: "\e978";
$icn-Site: "\e979";
$icn-Sort-Both: "\e97a";
$icn-Sort-Down: "\e97b";
$icn-Sort-Up: "\e97c";
$icn-Spinner: "\e97d";
$icn-Stopwatch: "\e97e";
$icn-Sunrise: "\e97f";
$icn-Sunset: "\e980";
$icn-Tasks: "\e981";
$icn-Template: "\e982";