@import "icoins-variables";

@font-face {
  font-family: '#{$icoins-font-family}';
  src:  url('#{$icoins-font-path}/#{$icoins-font-family}.eot?qbfi3d');
  src:  url('#{$icoins-font-path}/#{$icoins-font-family}.eot?qbfi3d#iefix') format('embedded-opentype'), url('#{$icoins-font-path}/#{$icoins-font-family}.ttf?qbfi3d') format('truetype'), url('#{$icoins-font-path}/#{$icoins-font-family}.svg?qbfi3d##{$icoins-font-family}') format('svg'), url('#{$icoins-font-path}/#{$icoins-font-family}.woff?qbfi3d') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icn {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icoins-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-Package-Add {
  &:before {
    content: $icn-Package-Add;
    color: #4a4a4a;
  }
}
.icn-Worker-Add {
  &:before {
    content: $icn-Worker-Add;
    color: #4a4a4a;
  }
}
.icn-Airplane {
  &:before {
    content: $icn-Airplane;
    color: #4a4a4a;
  }
}
.icn-Approve {
  &:before {
    content: $icn-Approve;
    color: #4a4a4a;
  }
}
.icn-Arrow-Down {
  &:before {
    content: $icn-Arrow-Down;
    color: #4a4a4a;
  }
}
.icn-Arrow-Left {
  &:before {
    content: $icn-Arrow-Left;
    color: #4a4a4a;
  }
}
.icn-Arrow-Right {
  &:before {
    content: $icn-Arrow-Right;
    color: #4a4a4a;
  }
}
.icn-Arrow-Up {
  &:before {
    content: $icn-Arrow-Up;
    color: #4a4a4a;
  }
}
.icn-Attachment {
  &:before {
    content: $icn-Attachment;
    color: #4a4a4a;
  }
}
.icn-Basket {
  &:before {
    content: $icn-Basket;
    color: #4a4a4a;
  }
}
.icn-Bed {
  &:before {
    content: $icn-Bed;
    color: #4a4a4a;
  }
}
.icn-Bell {
  &:before {
    content: $icn-Bell;
    color: #4a4a4a;
  }
}
.icn-Blank {
  &:before {
    content: $icn-Blank;
    color: #4a4a4a;
  }
}
.icn-Blocks {
  &:before {
    content: $icn-Blocks;
    color: #4a4a4a;
  }
}
.icn-Calendar {
  &:before {
    content: $icn-Calendar;
    color: #4a4a4a;
  }
}
.icn-Calendar-Day {
  &:before {
    content: $icn-Calendar-Day;
    color: #4a4a4a;
  }
}
.icn-Calendar-Month {
  &:before {
    content: $icn-Calendar-Month;
    color: #4a4a4a;
  }
}
.icn-Calendar-Week {
  &:before {
    content: $icn-Calendar-Week;
    color: #4a4a4a;
  }
}
.icn-Calendar-Workdays {
  &:before {
    content: $icn-Calendar-Workdays;
    color: #4a4a4a;
  }
}
.icn-Car {
  &:before {
    content: $icn-Car;
    color: #4a4a4a;
  }
}
.icn-Car-Alt {
  &:before {
    content: $icn-Car-Alt;
    color: #4a4a4a;
  }
}
.icn-Cards {
  &:before {
    content: $icn-Cards;
    color: #4a4a4a;
  }
}
.icn-Caret-Down {
  &:before {
    content: $icn-Caret-Down;
    color: #4a4a4a;
  }
}
.icn-Caret-Up {
  &:before {
    content: $icn-Caret-Up;
    color: #4a4a4a;
  }
}
.icn-Check {
  &:before {
    content: $icn-Check;
    color: #4a4a4a;
  }
}
.icn-Checklist {
  &:before {
    content: $icn-Checklist;
    color: #4a4a4a;
  }
}
.icn-Checklist-Cogs {
  &:before {
    content: $icn-Checklist-Cogs;
    color: #4a4a4a;
  }
}
.icn-Checklist-Fail {
  &:before {
    content: $icn-Checklist-Fail;
    color: #4a4a4a;
  }
}
.icn-Checklist-Start {
  &:before {
    content: $icn-Checklist-Start;
    color: #4a4a4a;
  }
}
.icn-Checklist-Time {
  &:before {
    content: $icn-Checklist-Time;
    color: #4a4a4a;
  }
}
.icn-Checklist-Time-Alt {
  &:before {
    content: $icn-Checklist-Time-Alt;
    color: #4a4a4a;
  }
}
.icn-Chevron-Down {
  &:before {
    content: $icn-Chevron-Down;
    color: #4a4a4a;
  }
}
.icn-Chevron-Left {
  &:before {
    content: $icn-Chevron-Left;
    color: #4a4a4a;
  }
}
.icn-Chevron-Right {
  &:before {
    content: $icn-Chevron-Right;
    color: #4a4a4a;
  }
}
.icn-Chevron-Up {
  &:before {
    content: $icn-Chevron-Up;
    color: #4a4a4a;
  }
}
.icn-Clock-In {
  &:before {
    content: $icn-Clock-In;
    color: #4a4a4a;
  }
}
.icn-Clock-Out {
  &:before {
    content: $icn-Clock-Out;
    color: #4a4a4a;
  }
}
.icn-Close {
  &:before {
    content: $icn-Close;
    color: #4a4a4a;
  }
}
.icn-Cogs {
  &:before {
    content: $icn-Cogs;
    color: #4a4a4a;
  }
}
.icn-Coins {
  &:before {
    content: $icn-Coins;
    color: #4a4a4a;
  }
}
.icn-Comments {
  &:before {
    content: $icn-Comments;
    color: #4a4a4a;
  }
}
.icn-Company {
  &:before {
    content: $icn-Company;
    color: #4a4a4a;
  }
}
.icn-Compare {
  &:before {
    content: $icn-Compare;
    color: #4a4a4a;
  }
}
.icn-Complete {
  &:before {
    content: $icn-Complete;
    color: #4a4a4a;
  }
}
.icn-Contract {
  &:before {
    content: $icn-Contract;
    color: #4a4a4a;
  }
}
.icn-Corner-Arrow {
  &:before {
    content: $icn-Corner-Arrow;
    color: #4a4a4a;
  }
}
.icn-Crane {
  &:before {
    content: $icn-Crane;
    color: #4a4a4a;
  }
}
.icn-Credit-Card {
  &:before {
    content: $icn-Credit-Card;
    color: #4a4a4a;
  }
}
.icn-Dashboard {
  &:before {
    content: $icn-Dashboard;
    color: #4a4a4a;
  }
}
.icn-Delete {
  &:before {
    content: $icn-Delete;
    color: #4a4a4a;
  }
}
.icn-Delivery {
  &:before {
    content: $icn-Delivery;
    color: #4a4a4a;
  }
}
.icn-Divide {
  &:before {
    content: $icn-Divide;
    color: #4a4a4a;
  }
}
.icn-Double-Arrows-Down {
  &:before {
    content: $icn-Double-Arrows-Down;
    color: #4a4a4a;
  }
}
.icn-Download {
  &:before {
    content: $icn-Download;
    color: #4a4a4a;
  }
}
.icn-Drag-Indicator {
  &:before {
    content: $icn-Drag-Indicator;
    color: #4a4a4a;
  }
}
.icn-Drawings {
  &:before {
    content: $icn-Drawings;
    color: #4a4a4a;
  }
}
.icn-Edit {
  &:before {
    content: $icn-Edit;
    color: #4a4a4a;
  }
}
.icn-Email {
  &:before {
    content: $icn-Email;
    color: #4a4a4a;
  }
}
.icn-Employee-List {
  &:before {
    content: $icn-Employee-List;
    color: #4a4a4a;
  }
}
.icn-Equal {
  &:before {
    content: $icn-Equal;
    color: #4a4a4a;
  }
}
.icn-Excel {
  &:before {
    content: $icn-Excel;
    color: #4a4a4a;
  }
}
.icn-Expand {
  &:before {
    content: $icn-Expand;
    color: #4a4a4a;
  }
}
.icn-External-Link {
  &:before {
    content: $icn-External-Link;
    color: #4a4a4a;
  }
}
.icn-Eye {
  &:before {
    content: $icn-Eye;
    color: #4a4a4a;
  }
}
.icn-Favourites {
  &:before {
    content: $icn-Favourites;
    color: #4a4a4a;
  }
}
.icn-Filter {
  &:before {
    content: $icn-Filter;
    color: #4a4a4a;
  }
}
.icn-Filter-Sliders {
  &:before {
    content: $icn-Filter-Sliders;
    color: #4a4a4a;
  }
}
.icn-Floppy {
  &:before {
    content: $icn-Floppy;
    color: #4a4a4a;
  }
}
.icn-Folder {
  &:before {
    content: $icn-Folder;
    color: #4a4a4a;
  }
}
.icn-Folder-Open {
  &:before {
    content: $icn-Folder-Open;
    color: #4a4a4a;
  }
}
.icn-Food {
  &:before {
    content: $icn-Food;
    color: #4a4a4a;
  }
}
.icn-Fuel {
  &:before {
    content: $icn-Fuel;
    color: #4a4a4a;
  }
}
.icn-Grid {
  &:before {
    content: $icn-Grid;
    color: #4a4a4a;
  }
}
.icn-Helmet {
  &:before {
    content: $icn-Helmet;
    color: #4a4a4a;
  }
}
.icn-History {
  &:before {
    content: $icn-History;
    color: #4a4a4a;
  }
}
.icn-Home {
  &:before {
    content: $icn-Home;
    color: #4a4a4a;
  }
}
.icn-Image {
  &:before {
    content: $icn-Image;
    color: #4a4a4a;
  }
}
.icn-Important {
  &:before {
    content: $icn-Important;
    color: #4a4a4a;
  }
}
.icn-Important-Alt {
  &:before {
    content: $icn-Important-Alt;
    color: #4a4a4a;
  }
}
.icn-Laptop {
  &:before {
    content: $icn-Laptop;
    color: #4a4a4a;
  }
}
.icn-Linked {
  &:before {
    content: $icn-Linked;
    color: #4a4a4a;
  }
}
.icn-List {
  &:before {
    content: $icn-List;
    color: #4a4a4a;
  }
}
.icn-Lock {
  &:before {
    content: $icn-Lock;
    color: #4a4a4a;
  }
}
.icn-Log-Out {
  &:before {
    content: $icn-Log-Out;
    color: #4a4a4a;
  }
}
.icn-Map-Pin {
  &:before {
    content: $icn-Map-Pin;
    color: #4a4a4a;
  }
}
.icn-Meal {
  &:before {
    content: $icn-Meal;
    color: #4a4a4a;
  }
}
.icn-Menu-Burger {
  &:before {
    content: $icn-Menu-Burger;
    color: #4a4a4a;
  }
}
.icn-Mic {
  &:before {
    content: $icn-Mic;
    color: #4a4a4a;
  }
}
.icn-More-Horizontal {
  &:before {
    content: $icn-More-Horizontal;
    color: #4a4a4a;
  }
}
.icn-More-Vertical {
  &:before {
    content: $icn-More-Vertical;
    color: #4a4a4a;
  }
}
.icn-Multiply {
  &:before {
    content: $icn-Multiply;
    color: #4a4a4a;
  }
}
.icn-No-Connection {
  &:before {
    content: $icn-No-Connection;
    color: #4a4a4a;
  }
}
.icn-Notes {
  &:before {
    content: $icn-Notes;
    color: #4a4a4a;
  }
}
.icn-Open {
  &:before {
    content: $icn-Open;
    color: #4a4a4a;
  }
}
.icn-PDF {
  &:before {
    content: $icn-PDF;
    color: #4a4a4a;
  }
}
.icn-Package {
  &:before {
    content: $icn-Package;
    color: #4a4a4a;
  }
}
.icn-Package-Confirmed .path1 {
  &:before {
    content: $icn-Package-Confirmed-path1;  
    color: rgb(74, 74, 74);
  }
}
.icn-Package-Confirmed .path2 {
  &:before {
    content: $icn-Package-Confirmed-path2;  
    margin-left: -1em;  
    color: rgb(74, 74, 74);
  }
}
.icn-Package-Confirmed .path3 {
  &:before {
    content: $icn-Package-Confirmed-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icn-Parking {
  &:before {
    content: $icn-Parking;
    color: #4a4a4a;
  }
}
.icn-Phone {
  &:before {
    content: $icn-Phone;
    color: #4a4a4a;
  }
}
.icn-Phone-Mobile {
  &:before {
    content: $icn-Phone-Mobile;
    color: #4a4a4a;
  }
}
.icn-Phone-Old {
  &:before {
    content: $icn-Phone-Old;
    color: #4a4a4a;
  }
}
.icn-Photo-Camera {
  &:before {
    content: $icn-Photo-Camera;
    color: #4a4a4a;
  }
}
.icn-Photo-Camera-Crossed {
  &:before {
    content: $icn-Photo-Camera-Crossed;
    color: #4a4a4a;
  }
}
.icn-Photo-Switch {
  &:before {
    content: $icn-Photo-Switch;
    color: #4a4a4a;
  }
}
.icn-Pinned {
  &:before {
    content: $icn-Pinned;
    color: #4a4a4a;
  }
}
.icn-Plus {
  &:before {
    content: $icn-Plus;
    color: #4a4a4a;
  }
}
.icn-Quantity {
  &:before {
    content: $icn-Quantity;
    color: #4a4a4a;
  }
}
.icn-Refresh {
  &:before {
    content: $icn-Refresh;
    color: #4a4a4a;
  }
}
.icn-Reject {
  &:before {
    content: $icn-Reject;
    color: #4a4a4a;
  }
}
.icn-Search {
  &:before {
    content: $icn-Search;
    color: #4a4a4a;
  }
}
.icn-Search-Check {
  &:before {
    content: $icn-Search-Check;
    color: #4a4a4a;
  }
}
.icn-Search-Important {
  &:before {
    content: $icn-Search-Important;
    color: #4a4a4a;
  }
}
.icn-Sell-House {
  &:before {
    content: $icn-Sell-House;
    color: #4a4a4a;
  }
}
.icn-Sell-House-Pounds {
  &:before {
    content: $icn-Sell-House-Pounds;
    color: #4a4a4a;
  }
}
.icn-Send {
  &:before {
    content: $icn-Send;
    color: #4a4a4a;
  }
}
.icn-Server-Issue {
  &:before {
    content: $icn-Server-Issue;
    color: #4a4a4a;
  }
}
.icn-Settings {
  &:before {
    content: $icn-Settings;
    color: #4a4a4a;
  }
}
.icn-Shapes {
  &:before {
    content: $icn-Shapes;
    color: #4a4a4a;
  }
}
.icn-Share {
  &:before {
    content: $icn-Share;
    color: #4a4a4a;
  }
}
.icn-Shop {
  &:before {
    content: $icn-Shop;
    color: #4a4a4a;
  }
}
.icn-Shopping-Cart {
  &:before {
    content: $icn-Shopping-Cart;
    color: #4a4a4a;
  }
}
.icn-Shower {
  &:before {
    content: $icn-Shower;
    color: #4a4a4a;
  }
}
.icn-Site {
  &:before {
    content: $icn-Site;
    color: #4a4a4a;
  }
}
.icn-Site-Alt {
  &:before {
    content: $icn-Site-Alt;
    color: #4a4a4a;
  }
}
.icn-Sort-Both {
  &:before {
    content: $icn-Sort-Both;
    color: #4a4a4a;
  }
}
.icn-Sort-Down {
  &:before {
    content: $icn-Sort-Down;
    color: #4a4a4a;
  }
}
.icn-Sort-Up {
  &:before {
    content: $icn-Sort-Up;
    color: #4a4a4a;
  }
}
.icn-Spinner {
  &:before {
    content: $icn-Spinner;
    color: #4a4a4a;
  }
}
.icn-Stopwatch {
  &:before {
    content: $icn-Stopwatch;
    color: #4a4a4a;
  }
}
.icn-Sunrise {
  &:before {
    content: $icn-Sunrise;
    color: #4a4a4a;
  }
}
.icn-Sunset {
  &:before {
    content: $icn-Sunset;
    color: #4a4a4a;
  }
}
.icn-Tablet {
  &:before {
    content: $icn-Tablet;
    color: #4a4a4a;
  }
}
.icn-Tasks {
  &:before {
    content: $icn-Tasks;
    color: #4a4a4a;
  }
}
.icn-Template {
  &:before {
    content: $icn-Template;
    color: #4a4a4a;
  }
}
.icn-Text {
  &:before {
    content: $icn-Text;
    color: #4a4a4a;
  }
}
.icn-Timer {
  &:before {
    content: $icn-Timer;
    color: #4a4a4a;
  }
}
.icn-Trades {
  &:before {
    content: $icn-Trades;
    color: #4a4a4a;
  }
}
.icn-Travel-Home {
  &:before {
    content: $icn-Travel-Home;
    color: #4a4a4a;
  }
}
.icn-Travel-Work {
  &:before {
    content: $icn-Travel-Work;
    color: #4a4a4a;
  }
}
.icn-Undo {
  &:before {
    content: $icn-Undo;
    color: #4a4a4a;
  }
}
.icn-Unlock {
  &:before {
    content: $icn-Unlock;
    color: #4a4a4a;
  }
}
.icn-Wallet {
  &:before {
    content: $icn-Wallet;
    color: #4a4a4a;
  }
}
.icn-Worker {
  &:before {
    content: $icn-Worker;
    color: #4a4a4a;
  }
}
