.coins-alert {
  padding: 8px 0 8px 32px;
  position: relative;
  @include text-caption;
  &:before {
    font-family: 'iCoins';
    content: "\ea16";
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    top: 4px;
    left: 0;
  }
  // Types
  &.error,
  &.warning,
  &.success {
    padding: 8px 8px 8px 40px;
    border-radius: 4px;
    &:before {
      left: 8px;
    }
  }
  &.error {
    background-color: rgba($color-red, .3);
    &:before {
      content: "\ea15";
      color: $color-red;
    }
  }
  &.warning {
    background-color: rgba($color-yellow, .3);
    &:before {
      content: "\ea14";
      color: $color-yellow;
    }
  }
  &.success {
    background-color: rgba($color-green, .3);
    &:before {
      content: "\e9da";
      color: $color-green;
    }
  }
}
