.top-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header1-h;

  @include vertical-align;
  justify-content: space-between;
  padding: 8px 32px 8px 12px;
  background-color: $color-white;
  border-bottom: 1px solid $color-separator;
  z-index: 1000;
}

.global-search {
  width: 100%;
  max-width: 560px;
  margin: 0 12px;
  .input.search {
    height: 44px;
    input {
      @include text-body-2;
      padding: 8px 12px 10px 40px;
    }
    &:before {
      top: 10px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}


.user-dropdown {
  @include text-body-1;
  color: $color-black;
  line-height: 32px;
  @include vertical-align;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    .avatar {
      box-shadow: 0 0 0 2px $color-accent;
    }
  }
  .user-name {
    margin-right: 12px;
  }
  .avatar {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    @include text-caption;
    line-height: 30px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: $color-separator;
    color: $color-black-7;
    border: 2px solid $color-white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2)
  }
  .icn {
    font-size: 16px;
    line-height: 32px;
  }
}
.coins-logo-holder {
  margin-left: 20px;
}
.coins-logo {
  height: 34px;
  width: 154px;
  background-size: cover;
  background-image: url("../COINS_Logo.svg");
}


// Second level navigation aka title block
.title-nav {
  padding-left: 32px;
  padding-right: 32px;
  background-color: $color-white;
  border-bottom: 1px solid $color-separator;
  position: sticky;
  top: $header1-h;
  height: $header2-h;
  z-index: 10;

  @include vertical-align;
  justify-content: space-between;
  .title {
    display: flex;
    align-items: baseline;
    .counter {
      margin-left: 12px;
      @include text-body-1;
      color: $color-black-7;
    }
  }
}

// Third level navigation aka subnav
.subnav {
  position: sticky;
  top: sum($header1-h, $header2-h);
  padding: 12px 32px;
  border-bottom: 1px solid $color-separator;
  background-color: $color-white;
  @include vertical-align;
  justify-content: space-between;
  z-index: 9;
  height: $header3-h;
  &.config {
    height: $header3-h-config;
    padding: 20px 32px;
    section {
      @include vertical-align;
      margin-bottom: 0;
      .info {
        margin-bottom: 0;
        dd {
          margin-bottom: 0;
        }
        & + .info {
          margin-left: 32px;
        }
      }
    }
  }
  .subnav-actions, form {
    display: flex;
    @include vertical-align;
    justify-content: space-between;
  }
  form {
    width: 100%;
  }
}

.child-page-title {
  @include vertical-align;
  justify-content: space-between;
  margin-bottom: 20px;
}
