.tabs {
  display: flex;
  list-style: none;
  margin-bottom: 32px;
  li {
    @include text-body-1;
    font-weight: 400;
    color: $color-black-7;
    padding-bottom: 6px;
    border-bottom: 2px solid $color-black-3;
    transition: border-color .3s ease-out;
    cursor: pointer;
    & + li {
      margin-left: 16px;
    }
    &:hover {
      border-bottom-color: $color-black;
    }
    &.active {
      @include text-body-1-bold;
      color: $color-black;
      border-color: $color-black;
      cursor: default;
    }
    &[disabled] {
      color: $color-black-3;
      border-color: $color-separator;
      cursor: not-allowed;
      &:hover {
        border-color: $color-separator;
      }
    }
  }
}
