.tabs {
  display: flex;
  list-style: none;
  margin-bottom: 32px;
  li {
    @include text-body-1;
    font-weight: 400;
    color: $color-black-7;
    padding-bottom: 6px;
    border-bottom: 2px solid $color-black-3;
    transition: border-color .3s ease-out;
    cursor: pointer;
    & + li {
      margin-left: 16px;
    }
    &:hover {
      border-bottom-color: $color-black;
    }
    &.active {
      @include text-body-1-bold;
      color: $color-black;
      border-color: $color-black;
      cursor: default;
    }
    &[disabled] {
      color: $color-black-3;
      border-color: $color-separator;
      cursor: not-allowed;
      &:hover {
        border-color: $color-separator;
      }
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}


.content-switch {
  display: flex;
  list-style-type: none;
  margin-bottom: 16px;
  li {
    padding: 4px 8px;
    background-color: $color-white;
    color: $color-black-7;
    cursor: pointer;
    @include text-body-1-bold;
    border-radius: 4px;
    transition: background-color .3s ease-out, color .3s ease-out;
    & + li {
      margin-left: 12px;
    }
    &:hover {
      background-color: $color-input;
    }
    &.active {
      cursor: default;
      background-color: $color-separator;
      color: $color-black;
    }
  }
  &-tab {
    display: none;
    &.active {
      display: block;
    }
  }
}