body {
  font-family: "Lato", sans-serif;
  @include text-body-2;
  color: $color-black;
}

a {
  color: $color-accent;
  text-decoration: none;
  &:hover {
    color: $color-accent;
  }
  &.link {
    text-decoration: underline;
    color: $color-accent;
  }
}



///////////////////////////////////
// Headings
///////////////////////////////////

h1 {
  @include text-title;
  margin-bottom: 0;
}

h2 {
  @include text-subheading;
  margin-bottom: 0;
}

h5 {
  @include text-body-2;
  margin-bottom: 0;
}