<!doctype html>
<html lang="en">
{% include head.html %}

<body class="design-system">
  {% include nav.html %}
  <main class="main-area">
    <div class="doc-hero">
      <h1 class="doc-title">{{page.title}}</h1>
      <p class="doc-description">{{page.description}}</p>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </main>

  <!-- Scripts -->
  <script src="{{ site.baseurl }}/js/jquery-1.12.1.min.js"></script>
  <!-- Dark mode -->
  <script src="{{ site.baseurl }}/js/dark-mode.js"></script>
</body>

</html>