<!doctype html>
<html lang="en">
{% include head.html %}

<body class="documentation">
  {% include nav.html %}
  <main class="main-area">
    {% include sidebar.html %}
    <div class="content bg-grey">
      <div class="inner">
        <div class="child-page-title">
          <h1>{{page.title}}</h1>
        </div>
        {{ content }}
      </div>
    </div>
  </main>


  <!-- Scripts -->
  <script src="{{ site.baseurl }}/js/jquery-1.12.1.min.js"></script>
  <!-- highlight -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
  <script>
    $(document).ready(function(){
      // code highlight
      hljs.highlightAll();

      // Copy
      function copyToClipboard(el) {
        var text = el.siblings('pre').find('code').text();
        var input = document.createElement('textarea');
        input.innerHTML = text;
        document.body.appendChild(input);
        input.select();
        var result = document.execCommand('copy');
        document.body.removeChild(input);
        return result;
      }

      $('[data-copy-snippet').click(function(e) {
        copyToClipboard($(this));
      });
    });
    
  </script>
</body>

</html>