<!doctype html>
<html lang="en">
{% include head.html %}

<body class="design-system">
  {% include nav.html %}
  <main class="main-area">
    <div class="content search-bg" style="background-image: url({{site.baseurl}}/img/core/SearchBg.svg)">
      <div class="search">
        {{ content }}
      </div>
    </div>
  </main>

  <!-- Scripts -->
  <script src="{{ site.baseurl }}/js/jquery-1.12.1.min.js"></script>
  <!-- Dark mode -->
  <script src="{{ site.baseurl }}/js/dark-mode.js"></script>
</body>

</html>